<header class="banner banner--page{% if page.image %} banner--with-image{% endif %}{% if page.collection and page.fields %} banner--collection{% endif %}{% if include.simple %} banner--simple{% endif %}">
  <div {% unless include.simple %} class="wrap"{% endunless %}>
    <div class="banner__inner">
      <h1 class="heading heading--page">
        {% if page.image and include.simple != true %}
          {% unless page.url contains '/people/' %}
            <img class="banner__image" src="{% include image.html item=page %}" alt="{{ page.title | escape }}" />
          {% endunless %}
        {% endif %}

        {{ page.title }}

        {% if page.collection == 'locations' and page.fields %}
          <a href="#map" class="js-toggle-map ss-compass banner__title__button">View map</a>
        {% endif %}
      </h1>

      {% if page.subtitle %}
        <h2 class="heading heading--subtitle">{{ page.subtitle }}</h2>
      {% endif %}

      {% if page.job_title %}
        <h2 class="heading heading--job-title">{{ page.job_title }}</h2>
      {% endif %}

      {% if page.collection == "people" %}
        {% assign fields = "status,expertise,departments" | split:"," %}
        {% for field in fields %}
          {% if page[field] %}
            {% assign has_fields = true %}
          {% endif %}
        {% endfor %}

        {% if has_fields %}
          <div class="text-meta">
            {% for field in fields %}
              {% if page[field] %}
                <p class="text-meta__field">
                  <span class="text-meta__label">{{ field | capitalize }}</span>
                  <span class="text-meta__value">
                    {% if field == "departments" %}
                      {% for item in page[field] %}
                        <a href="/departments/{{ item | slugify }}">{{ item }}</a>
                      {% endfor %}
                    {% else %}
                      {{ page[field] | join:", " }}
                    {% endif %}
                  </span>
                </p>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}

      {% if page.location %}
        <a href="/locations/{{ page.location | slugify }}" class="ss-home meta">
          {{ page.location }}{% if page.address.size > 0 %}, {{ page.address }}{% endif %}
        </a>
      {% elsif page.space %}
        <a href="/spaces/{{ page.space | slugify }}" class="ss-home meta">
          {{ page.space }}{% if page.address.size > 0 %}, {{ page.address }}{% endif %}
        </a>
      {% elsif page.address %}
        <a title="View on a map" href="http://maps.google.com/?q={{ page.address | escape }}" target="_blank" class="ss-location meta meta__google">{{ page.address }}</a>
      {% endif %}

      {% if page.email %}
        <a href="mailto:{{ page.email | escape }}" class="ss-mail meta">{{ page.email }}</a>
      {% endif %}

      {% if page.phone %}
        <span class="ss-phone meta">{{ page.phone }}</span>
      {% endif %}

      {% if page.buttons %}
        <p class="banner__button__wrap">
        {% for item in page.buttons %}
          {% assign title = item.first %}
          {% assign link = item.last %}
          <a class="button" href="{{ link }}"{% if link contains "http" %} target="_blank"{% endif %}>{{ title }}</a>
        {% endfor %}
        </p>
      {% endif %}

      {% if page.collection and page.fields %}
        {% include filters.html %}
      {% endif %}
    </div>
  </div>
</header>