{% assign items = site[page.collection] %}
<form class="section__search" role="search">
  <div class="section__search__field__wrap">
    <label for="section__search__field" class="is-hidden">Search {{ page.collection }}</label>
    <input type="text" id="section__search__field" class="section__search__field" name="q" placeholder="{% if page.search_placeholder %}{{ page.search_placeholder }}{% else %}Search {{ page.collection }}{% endif %}">
    <input type="submit" class="section__search__button ss-icon" value="&#x1F50D;" />
  </div>

  <div>
    <label>Limit by:</label>

    {% for field in page.fields %}
    {% if forloop.index > 1 %}
    <select name="{{ field.first }}">
      <option value="">{{ field.last }}</option>
      <option value="" disabled>—</option>
      {% assign options = "" %}
      {% for item in items %}{% for value in item[field.first] %}
      {% unless options contains value %}
      {% capture options %}{{ options }}<option value="{{ value }}">{{ value }}</option>{% endcapture %}
      {% endunless %}
      {% endfor %}{% endfor %}
      {{ options | split:"</option>" | sort | join:"</option>" }}
    </select>
    {% endif %}
    {% endfor %}
    <input type="text" class="is-hidden" name="sort_field" value="{{ page.fields.first.first }}" data-default="{{ page.fields.first.first }}" />
    <input type="text" class="is-hidden" name="sort_direction" value="asc" data-default="asc" />
    <input type="text" class="is-hidden" name="page" value="1" data-default="1" />
    <a href="?" class="section__search__reset is-hidden">Reset</a>
  </div>
</form>