<tr class="table__row">
  {% for field in include.fields %}
    {% assign key = field.first %}
    {% assign value = item[key] %}
    <td class="table__cell">
      {% if key == 'title' %}
        {% include card.html item=item %}
      {% elsif key == 'departments' %}
        {% for department in value %}
          <a href="/departments/{{ department | slugify }}">{{ department }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% elsif 'service,space,location' contains key %}
        <a href="/{{key}}s/{{ value | slugify }}">{{ value }}</a>
      {% else %}
        {{ value | join:', ' }}
      {% endif %}
    </td>
  {% endfor %}
</tr>