{% if include.scope == "site" %}{% assign scope = site %}{% else %}{% assign scope = page %}{% endif %}
<ul class="social-links">
  {% assign scope_twitter = scope['twitter'] | remove: ' ' %}
  {% if scope['twitter'] and scope_twitter != '' %}
    <li>
    {% if scope['twitter'] contains 'http' %}
      <a href="{{ scope['twitter'] }}" class="ss-twitter" target="_blank">Twitter</a>
    {% else %}
      <a href="https://twitter.com/{{ scope['twitter'] }}" class="ss-twitter" target="_blank">@{{ scope['twitter'] }}</a>
    {% endif %}
    </li>
  {% endif %}
  {% assign scope_facebook = scope['facebook'] | remove: ' ' %}
  {% if scope['facebook'] and scope_facebook != '' %}
    <li>
    {% if scope['facebook'] contains 'http' %}
      <a href="{{ scope['facebook'] }}" class="ss-facebook" target="_blank">Facebook</a>
    {% else %}
      <a href="https://www.facebook.com/{{ scope['facebook'] }}" class="ss-facebook" target="_blank">{{ scope['facebook'] }}</a>
    {% endif %}
    </li>
  {% endif %}
  {% if scope['blog'].rss %}
    <li>
      <a href="{{ scope['blog'].rss }}" class="ss-rss" target="_blank">Blog RSS</a>
    </li>
  {% endif %}
</ul>