secret_study.yml

wiki/
*.wiki

.DS_Store

Gemfile.lock

# This directory is created by rubycrtic
tmp/

# Folder for simplecov coverage reports
coverage/

# Mardowns that don't need to be put into GH
site/.siteleaf.yml
# site/_departments
# site/_locations
# site/_people
# site/_services
# site/_spaces

# Temporary directory for any sort of siteleaf pushes
tmp_site/