---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/items?project_id=57459
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmEzNkBueXUuZWR1OmI3ZjliZmE2LTk1NzItNDc1OS1iMTI3LTI0MjFlNjQ2YjY0MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":2311530,"project_id":57459,"parent_id":0,"template_id":243138,"custom_state_id":241859,"position":"0","name":"KARMS","config":null,"notes":"","type":"item","overdue":false,"archived_by":null,"archived_at":null,"created_at":{"date":"2015-11-30
        17:23:13","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2016-03-07
        22:12:36","timezone_type":3,"timezone":"UTC"},"status":{"data":{"id":"241859","is_default":true,"position":"1","color":"#c5c5c5","name":"Draft","description":"Collection
        information and writing content.  WHO: Staff and DMs","can_edit":true}},"due_dates":{"data":[]}},{"id":2266307,"project_id":57459,"parent_id":2311530,"template_id":243138,"custom_state_id":241859,"position":"1","name":"Archival
        Collections Managment","config":null,"notes":"","type":"item","overdue":false,"archived_by":null,"archived_at":null,"created_at":{"date":"2015-11-11
        17:35:16","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2016-03-29
        17:45:18","timezone_type":3,"timezone":"UTC"},"status":{"data":{"id":"241859","is_default":true,"positio[...]
- request:
    method: get
    uri: https://api.gathercontent.com/items/2311530
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmEzNkBueXUuZWR1OmI3ZjliZmE2LTk1NzItNDc1OS1iMTI3LTI0MjFlNjQ2YjY0MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":2311530,"project_id":57459,"parent_id":0,"template_id":243138,"custom_state_id":241859,"position":"0","name":"KARMS","config":[{"label":"READ
        ME","name":"tab1440713097801","hidden":false,"elements":[{"type":"section","name":"el1440713129929","title":"Hurrah!
        Your department gets a new webpage, now what?","subtitle":"<h3>The new Libraries
        Website allows NYU Libraries\u00a0departments to have an easy-to-maintain\u00a0digital\u00a0presence.
        These pages\u00a0are designed to\u00a0highlight what our\u00a0departments\u00a0do
        and who we are;\u00a0better enabling users and the NYU community to utilize
        our\u00a0services. \u00a0<\/h3><p><br \/><\/p><p>We need your help to gather
        your department''s content and ensure it''s\u00a0up-to-date. \u00a0The User
        Experience team is running\u00a0workshops throughout the fall to introduce
        departments to the\u00a0new website design and to collect content for the
        site. \u00a0<\/p><p>Y\u200bour department''s content will be loaded into a
        development site (called a beta site) where we can test the site as a whole.
        \u00a0Testing will happen throughout[...]
[...]
- request:
    method: get
    uri: https://api.gathercontent.com/items/2050174
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmEzNkBueXUuZWR1OmI3ZjliZmE2LTk1NzItNDc1OS1iMTI3LTI0MjFlNjQ2YjY0MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":2050174,"project_id":57459,"parent_id":1983583,"template_id":251307,"custom_state_id":241859,"position":"15","name":"UX
        Services","config":[{"label":"READ ME","name":"tab1445272353297","hidden":false,"elements":[{"type":"section","name":"el1445272487223","title":"Service
        Pages on the New Libraries Website","subtitle":"<h3>The new Libraries website
        is designed to make finding and utilizing the services our libraries offer
        easier for all users. \u00a0<\/h3><p><span>We need your help to gather your
        services<\/span><span>\u00a0content and ensure it''s\u00a0up-to-date. \u00a0The
        User Experience team is running\u00a0workshops throughout the fall to help
        familiarize service providers (you) with the content gathering process.\u00a0<\/span><br
        \/><\/p><p>Y\u200bour services\u00a0content will be loaded into a development
        site (called a beta site) where we can test the site as a whole. \u00a0Testing
        will happen throug[...]
[...]
