.dept-window-body
  margin: 1px
  dt
    font-size: 18pt
    padding: 8px 5px
  dd
    font-size: 12pt
    padding: 0px 5px 15px
  &.blog
    background-color: #F2F2F2
    display: inline-block

.dept-header-right
  position: absolute
  margin-left: 600px
  margin-top: -190px

.dept-left-blog
  width: 48%
  padding: 10px
  float: left

.dept-right-blog
  width: 48%
  padding: 10px
  float: right