{% if url == "/hours" %}
<div id="jsScripts"></div>
<script src="/dist/javascripts/parseHours.js"></script>
<script>
function tableButtonClicks(id) {
  if (id.parentNode.parentNode.parentNode.parentNode.childNodes[15].style.display == 'none'){
    id.parentNode.parentNode.parentNode.parentNode.childNodes[15].style.display = 'block';
    id.src = "/dist/images/images/ic_expand_less_48px.svg";
  }else{
    id.parentNode.parentNode.parentNode.parentNode.childNodes[15].style.display = 'none';
    id.src = "/dist/images/images/ic_expand_more_48px.svg";
  }
}
</script>
<link rel="stylesheet" type="text/css" href="/dist/stylesheets/hours.css" />
{% endif %}
<div class="wrap">
  <header class="primary-header">
    <h1 class="site-title"><a href="/">{{site.title}}</a></h1>
    <ul class="page-menu">
    {% for page in site.pages %}
      <li><a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a></li>
    {% endfor %}
    </ul>
  </header>
  <section class="content">
    <h1 class="content-title">{{title}}</h1>
    {% if pages %}
      {% comment %} Show subpages if there are any available {% endcomment %}
      <nav class="subpage-menu">
        {% for subpage in pages %}
          <a href="{{subpage.url}}">{{subpage.title}}</a>
        {% endfor %}
      </nav>
    {% endif %}
    {{body}}
    {% if type == "post" %}
      {% comment %} Show tagsets if this is a post {% endcomment %}
      {% for tagset in taxonomy %}
        <strong>{{tagset.key}} ({{tagset | size}} tags)</strong>
        <ul>
          <div id="{{title}}"></div>
          {% for tag in tagset %}
            <li><a href="{{tag.url}}">{{tag.value}}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% else %}
      {% comment %} Loop through any posts and show an excerpt {% endcomment %}
      {% for post in posts reversed%}
        <article class="post-preview">
          {% if url == "/hours" %}
            <div id="libcard">
              <div id="{{post.title}}">
                <div id="libname"></div>
                <div id="map-canvas" class="map-canvas"></div>
                <div id="libaddr"></div>
                <div id="libphone"><img height="18px" width="18px" src="/images/ic_call_48px.svg" /><div class="pushUpText"></div></div>
                <div id="libemail"><img height="18px" width="18px" src="/images/ic_email_48px.svg" /><div class="pushUpText"></div></div>
                <div id="Open_timing">
                  <div id="op"></div>
                  <div id="open_button"><div id="tmz"></div><div id="open_button_img"><input type="image" data-name="hide" onclick="tableButtonClicks(this)" src="/images/ic_expand_more_48px.svg"/></div></div>
                </div>
                <!--this.parentNode.parentNode.parentNode.parentNode.childNodes[7].style.display = 'none'-->
                <div id="table_hours"></div>
              </div>
            </div>
          {% endif %}
        </article>
      {% endfor %}
    {% endif %}
    {% if parent %}
      <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
    {% endif %}
  </section>
</div>
