<div class="wrap">
  <div class="primary-header-right">
    <h1 class="site-title"><a href="/">{{site.title}}</a></h1>
    <ul class="page-menu">
    {% for page in site.pages %}
      <li><a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <section class="content">
    <h1 class="content-title">{{title}}</h1>
    {% if pages %}
      {% comment %} Show subpages if there are any available {% endcomment %}
      <nav class="subpage-menu">
        {% for subpage in pages %}
          <a href="{{subpage.url}}">{{subpage.title}}</a>
        {% endfor %}
      </nav>
    {% endif %}
    {{body}}
    {% if url == "/department" %}
      <div id="classall"></div>
    {% endif %}
    {% if url contains "/department" %}
      <div id="class"></div>
    {% endif %}
    {% if url contains "/libanswers" %}
      <div id="libanswers"></div>
    {% endif %}
    {% if type == "post" %}
      {% comment %} Show tagsets if this is a post {% endcomment %}
      {% for tagset in taxonomy %}
        <strong>{{tagset.key}} ({{tagset | size}} tags)</strong>
        <ul>
          <div id="{{title}}"></div>
          {% for tag in tagset %}
            <li><a href="{{tag.url}}">{{tag.value}}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% else %}
      {% comment %} Loop through any posts and show an excerpt {% endcomment %}
      {% for post in posts reversed%}
        <article class="post-preview">
          {% if url == "/hours" %}
            {% include 'includes/hours_templating'%}
          {% endif %}
          {% if url == "/staff" %}
            {% include 'includes/staff_templating'%}
          {% endif %}
        </article>
      {% endfor %}
    {% endif %}
    {% if parent %}
      <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
    {% endif %}
  </section>
</div>
