<div class = "dept-header">
Department
<h1><div class="dept-name">{{meta['Department Name']}}</div></h1>
<div class="dept-Space"><img height="18px" width="18px" src="/images/ic_place_black_48dp.png" />{{meta['Department Name']}}{{meta['Space']}}</div>
<div class="dept-Location">{{meta['Room']}}, {{meta['Floor']}} {{meta['Location']}}</div><BR>
<div class="dept-phone"><img height="18px" width="18px" src="/images/ic_call_48px.svg" /><div class="pushUpText">{{meta['Telephone']}}</div></div><BR>
<div class="dept-email"><img height="18px" width="18px" src="/images/ic_email_48px.svg" /><div class="pushUpText"><a href="mailto:{{meta['E-mail']}}?Subject=Mail%20from%20library.nyu.edu">Contact Us</a></div></div>
<div class = "dept-header-right">
Digital Studio Space<BR>
Make an appointment<BR>
Department Directory<BR>
</div>
</div>
 <dl class="dept-window-body">
    <dt>What We Do</dt>
    <dd>
      {{meta['What We Do?']}}
    </dd>
  </dl>
<dl class="dept-window-body blog">
    <dt>Updates and Events</dt>
    <dd>
      <div class="dept-left-blog">
        <div id="dept-Twitter">
          <input type="hidden" id="twitter_id" value="{{meta['Twitter ID']}}">
        </div>
      </div>
      <div class="dept-right-blog">
<iframe src="https://api3.libcal.com/embed_mini_calendar.php?mode=month&iid=1287&cal_id=1564&l=5&tar=0&h=450&c=&z={{meta['LibCal Classes ID']}}" style="border-width:0" width="400" height="600" frameborder="0" scrolling="no"></iframe>
          <dt>From Our Blog</dt>
          <input type="hidden" id="rss_feed" value="{{meta['Blog']}}">
          <div id="rss"></div>
      </div>
    </dd>
  </dl>
<dt>Who We are</dt>
{% for member in site.pages['staff'].posts%}
  {% if member.meta['Department'] == meta['Department Name'] %}
    <div class="checkbox-staff">
      <div id="{{member.title}}">
      <div class="staff-container"><div style="background: url('{{member.meta['Photo']}}');background-size: cover; width: 80px; height: 80px; border-radius: 80%;"></div></div>
      <div class="staff-name">{{member.title}}</div>
      <div class="staff-phone"><img height="18px" width="18px" src="/images/ic_call_48px.svg" /><div class="pushUpText">{{member.meta['Phone (work)']}}</div></div>
      <div class="staff-email"><img height="18px" width="18px" src="/images/ic_email_48px.svg" /><div class="pushUpText">{{member.meta['E-mail']}}</div></div>
      </div>
    </div>
  {% endif %}
{% endfor %}
<div class="dept-Others We Work With"><dt>Whom We Work With</dt><BR>{{meta['Others We Work With']}}</div>


