<div class="dept-name">{{meta['Department Name']}}</div>
<div class="dept-phone"><img height="18px" width="18px" src="/images/ic_call_48px.svg" /><div class="pushUpText">{{meta['Telephone']}}</div></div>
<div class="dept-email"><img height="18px" width="18px" src="/images/ic_email_48px.svg" /><div class="pushUpText">{{meta['E-mail']}}</div></div>
<div class="dept-Room"><BR><BR>Room   : {{meta['Room']}}</div>
<div class="dept-Floor">Floor : {{meta['Floor']}}</div>
<div class="dept-Space">Space : {{meta['Space']}}</div>
<div class="dept-Location">Location  : {{meta['Location']}}</div>
<div class="dept-whatwedo">What We Do?<BR>{{meta['What We Do?']}}</div>
<div class="dept-Others We Work With">Others We Work With<BR>{{meta['Others We Work With']}}</div>
<div class="dept-Twitter">Twitter   : {{meta['Twitter']}}</div>
<div class="dept-Blog">Blog : {{meta['Blog']}}</div>
<div class="dept-addsocialmedia">Additional Social Media : {{meta['Additional Social Media']}}</div>