<div id="libcard">
  <div id="{{post.title}}">
    <div id="libname"></div>
    <div id="map-canvas" class="map-canvas"></div>
    <div id="libaddr"></div>
    <div id="libphone"><img height="18px" width="18px" src="//googledrive.com/host/0B08E8TWm8DJJUWh0bzR6Mnhrd2c/ic_call_48px.svg" /><div class="pushUpText"></div></div>
    <div id="libemail"><img height="18px" width="18px" src="//googledrive.com/host/0B08E8TWm8DJJUWh0bzR6Mnhrd2c/ic_email_48px.svg" /><div class="pushUpText"></div></div>
    <div id="Open_timing">
      <div id="op"></div>
      <div id="open_button"><div id="tmz"></div><input id="open_button_img" type="image" data-name="hide" src="//googledrive.com/host/0B08E8TWm8DJJYVNmU0Mta0V4S1U/ic_expand_more_48px.svg"/></div>
    </div>                
    <div id="table_hours"></div>
  </div>
</div>

0B08E8TWm8DJJYVNmU0Mta0V4S1U