<div class="checkbox-staff">
  <div id="{{post.title}}">
  <div class="staff-container"><div style="background: url('{{post.meta['photo']}}');background-size: cover; width: 80px; height: 80px; border-radius: 80%;"></div></div>
  <div class="staff-name">{{post.title}}</div>
  <div class="staff-phone"><img height="18px" width="18px" src="images/ic_call_48px.svg" /><div class="pushUpText">{{post.meta['phone']}}</div></div>
  <div class="staff-email"><img height="18px" width="18px" src="images/ic_email_48px.svg" /><div class="pushUpText">{{post.meta['email']}}</div></div>
  </div>
</div>


