<div class="checkbox-staff">
  <div id="{{post.title}}">
  <div class="staff-container"><div style="background: url('{{post.meta['Photo']}}');background-size: cover; width: 80px; height: 80px; border-radius: 80%;"></div></div>
  <div class="staff-name">{{post.title}}</div>
  <div class="staff-phone"><img height="18px" width="18px" src="//googledrive.com/host/0B08E8TWm8DJJUWh0bzR6Mnhrd2c/ic_call_48px.svg" /><div class="pushUpText">{{post.meta['Phone (work)']}}</div></div>
  <div class="staff-email"><img height="18px" width="18px" src="//googledrive.com/host/0B08E8TWm8DJJUWh0bzR6Mnhrd2c/ic_email_48px.svg" /><div class="pushUpText">{{post.meta['E-mail']}}</div></div>
  </div>
</div>


