//  Colors –––––––––––––––––––––––––––––––––––––––––––––––

$color-base: #363942;
$color-muted: #DDD;
$color-muted-alt: #999;
$color-canvas: #D8CAA8;
$color-link: #57068C;
$color-link-focus: #7608BF;
$color-highlight: #EEEE8F;

@mixin color($color, $opacity: 1) {
    color: $color; // fallback
    color: rgba($color, $opacity);
    }

@mixin background-color($color, $opacity: 1) {
    background: $color; // fallback
    background: rgba($color, $opacity);
    }

@mixin border-color($color, $opacity: 1) {
    border-color: $color; // fallback
    border-color: rgba($color, $opacity);
    }