.banner{
  @include clearfix;
  background: url('/assets/images/banner-bg.png') center center $background_light_gray;
  padding: ($gutter * 2) 0;

  @include max-width($bp_medium_page_heading){
    padding: ($gutter * 1.25) 0;
  }

  @include max-width($bp_mobile_page_heading){
    padding: 35px 0;
  }

  .text-meta{
    border-bottom: 1px dotted $border_dotted_gray;
    padding-bottom: 5px;
    margin-bottom: 10px;

    &:last-child{
      border-bottom: 0 none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .meta, .text-meta{
    font-size: $font_size_large;
    font-family: $family_gotham;
    line-height: 1.4;

    @include max-width($bp_small_page_heading){
      font-size: $font_size_medium;
    }

    @include max-width($bp_mobile_page_heading){
      font-size: $font_size_base;
    }
  }

  .meta, .text-meta__value{
    margin-right: 20px;
    margin-bottom: 5px;

    @include max-width($bp_mobile_page_heading){
      margin-right: 10px;
    }

    &:before{
      margin-right: 5px;
    }
  }

  .button{
    margin-top: 10px;
    font-size: 16px;

    @include max-width($bp_mobile_page_heading){
      font-size: $font_size_base;
      padding: 15px 20px;
    }

    &:hover{
      color: #fff;
    }
  }
}

@include min-width($bp_stacked_tables){
  .banner--collection{
    padding-bottom: $th_height + ($gutter);
  }
}

.banner__button__wrap{
  margin: 0;
}

.banner__title__button{ // link w/ icon nested within page title
  font-size: $font_size_medium;
  text-decoration: none;

  &:before{
    color: $text_green;
    vertical-align: middle;
    margin-right: 3px;
    font-size: $font_size_medium + 6;
    position: relative;
    top: -1px;
  }

  @include max-width($bp_small_page_heading){
    font-size: $font_size_base;

    &:before{
      font-size: $font_size_medium;
    }
  }
}

.showing-map .banner__title__button{
  display: none;
}

// ****************************************************************
// * With an image
// ****************************************************************

.banner__image{
  max-height: 80px;
  border-radius: $radius;
  vertical-align: top;
  display: block;
  margin: 0 auto 20px;
}

@include max-width($bp_stacked_sidebar){
  // The height we explicitly set via JS no matter needs to apply:
  .banner--with-image{
    text-align: center;

    .wrap{
      height: auto !important;
    }
  }
}

@include min-width($bp_stacked_sidebar + 1){
  .banner--with-image{
    padding: $gutter 0;

    .wrap{
      @include static-vertAlign-parent;
      min-height: cols(4);
      position: relative;
      padding-right: cols(4) + $gutter;
    }

    .banner__inner{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .banner__image{
    @include vertAlign;
    right: 0;
    width: cols(4);
    margin: 0;
    max-height: none;
  }
}

// ****************************************************************
// * Simple header (Inline w/ body text and no image)
// ****************************************************************
.banner--simple{
  padding: 0 0 $gutter;
  background: none;

  @include max-width($bp_mobile_page_heading){
    padding-bottom: 15px;
  }
}

// ****************************************************************
// * Search/Filter
// ****************************************************************
.section__search__field__wrap{
  position: relative;
  margin-bottom: $gutter / 2
}

input.section__search__field{
  margin: 0;
}

input.section__search__button{
  font-family: $family_icon;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  border-radius: 0 $radius $radius 0;
}

.section__search__reset{
  margin-left: $gutter / 2;
}