.primary-footer{
  background: $background_black;
  color: $text_footer_gray;
  padding: ($gutter * 1.5) 0;

  .list li{
    border-bottom-color: $border_footer;
  }

  .block{
    margin-bottom: $gutter;
  }

  a{
    color: $text_footer_gray;

    &:hover{
      color: $text_footer_white;
    }
  }

  .button{
    color: #fff;
    font-size: $font_size_base;
    width: 100%;
    display: block;
    padding: 25px 20px;
  }
}

.footer__social p{
  margin: 0 0 1em;
  line-height: 1.5;
  font-size: $font_size_small;

  a{
    text-decoration: none;
    color: #fff;

    &:after{
      color: $text_green;
      margin-left: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

.footer__social .ss-icon{
  color: $text_footer_white;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;

  &:hover{
    color: $text_footer_gray;
  }
}

.footer__copyright{
  font-size: $font_size_small;
  border-top: 1px dotted $border_footer;
  padding-top: $gutter;
  color: $text_footer_dark_gray;
  line-height: 1.4;

  a{
    color: $text_footer_dark_gray;
  }
}

.footer__logo{
  float: right;
  position: relative;
  top: -7px;

  @include max-width(910px){
    float: none;
    top: auto;
    margin-top: 5px;
    display: block;
  }

  &:hover{
    opacity: 0.8;
  }
}

@include max-width($bp_downsized_block_25){
  .footer__give, .footer__social{
    width: 100%;
    padding: 0;
  }
}

@include max-width($bp_stacked_block_25){
  .footer__menu{
    .list:last-child li:last-child{
      border-bottom: 1px dotted $border_footer;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    &:nth-child(2){
      margin-bottom: 0;
    }
  }
}

// ****************************************************************
// * SITE SEARCH
// ****************************************************************
.footer__search{
  margin-bottom: 12px;
  position: relative;
}

input.footer__search__field{
  @include appearance(none);
  @include box-sizing(border-box); // fix swiftype overrides
  background: rgba(#fff, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #fff;
  padding: 15px 40px 15px 10px;
  margin: 0;
  font-size: $font_size_base;
  border-radius: $radius;
  width: 100%;
  height: auto;

  &::-webkit-input-placeholder{
    color: $text_footer_gray;
  }
  &::-moz-placeholder{
    color: $text_footer_gray;
  }
  &::placeholder{
    color: $text_footer_gray;
  }

  &:focus{
    border-color: #fff;
  }
}

input.footer__search__button{
  @include appearance(none);
  background: none;
  color: #fff;
  font-size: $font_size_large;
  font-family: $family_icon;
  text-align: center;
  padding: 0 13px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 $radius $radius 0;

  &:hover, &:focus{
    background: #fff;
    color: $purple;
  }
}