.map-container{
  position: relative;
  display: none;
}

.showing-map .map-container{
  display: block;
}

#map{
  width: 100%;
  height: 400px;

  @include max-height(600px){
    height: 285px;
  }
}

.map-legend{
  background: rgba(#fff, 0.9);
  border-radius: $radius;
  padding: 8px;
  font-size: $font_size_small;
  position: absolute;
  top: 10px;
  right: 10px;
}

.map-legend__item{
  display: inline-block;
  margin-right: 5px;

  &:last-child{
    margin-right: 0;
  }
}

.map-legend__icon{
  height: $font_size_small;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.close-map{
  @include appearance(none);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 negativeHalf(32px) negativeHalf(108px);
  padding: 8px 15px;
  display: inline-block;
  background: $background_black;
  color: #fff;
  font-size: $font_size_small;
  border-radius: 20px;
  text-align: center;
  border: 0 none;

  &:before{
    margin-right: 4px;
    vertical-align: middle;
    font-size: 14px;
  }

  &:hover{
    color: $text_footer_gray;
  }
}