.meta, .text-meta{
  color: $text_light_gray;
}

.meta, .text-meta__value{
  margin-right: 10px;
}

.meta{
  text-decoration: none;
  display: inline-block;

  &:hover{
    text-decoration: none;
  }

  &:last-child{
    margin-right: 0;
  }

  &:before{
    color: $text_green;
    vertical-align: middle;
    margin-right: 3px;
    position: relative;
    top: -2px;
  }

  &.ss-bank:before{
    font-size: 88%;
  }
}

.text-meta__field, .text-meta__label, .text-meta__value{
  display: inline-block;
  margin: 0;
}

.text-meta__label{
  font-weight: $weight_light;
  color: $text_green;
  margin-right: 5px;
}

.text-meta__value{
  a{
    color: $text_light_gray;

    &:hover{
      color: $text_light_blue;
    }
  }
}