.pagination{
  text-align: center;
  margin-top: $gutter;
  font-size: 0; // for spacing
}

.pagination__link{
  font-size: $font_size_medium;
  display: inline-block;
  background: $background_light_gray;
  color: $text_light_gray;
  padding: 5px 10px;
  min-width: 30px;
  border: 1px solid $border_solid_gray;
  border-radius: $radius;
  margin: 0 5px;
  text-decoration: none;

  &:hover, &:focus{
    color: $text_light_blue;
  }

  &.is-selected{
    pointer-events: none;
    background: $purple;
    color: #fff;
    border-color: $purple;
  }
}

.pagination__prev, .pagination__next{
  text-decoration: none;
  font-size: $font_size_base;
}

.pagination__prev:before, .pagination__next:after{
  color: $text_green;
  vertical-align: middle;
}

.pagination__prev{
  margin-right: 15px;
}

.pagination__next{
  margin-left: 15px;
}

.pagination__prev:before{
  margin-right: 5px;
}

.pagination__next:after{
  margin-left: 5px;
}