---
layout: default
---

{% unless page.simple_header %}
  {% include banner.html %}
{% endunless %}

{% if page.links or page.twitter or page.facebook or page.blog.rss %}
  {% assign has_sidebar = true %}
{% endif %}

<div class="wrap content{% if has_sidebar %} has-sidebar{% endif %}">
  {% if page.simple_header %}
    {% include banner.html simple=true %}
  {% endif %}

  <div class="block block--body" data-swiftype-index="true">
    {{ content }}
  </div>

  {% if page.libcal_id %}
    <div class="block block--hours">
      {% include hours.html title=page.hours_title id=page.libcal_id %}

      {% if page.libcal_truncated %}
        <button class="more hours-toggle ss-plus right">See all hours</button>
      {% endif %}

      {% if page.libcal_link %}
        <a class="more" href="{{ page.libcal_link }}"{% if page.libcal_link contains "http" %} target="_blank"{% endif %}>See full hours schedule</a>
      {% endif %}
    </div>
  {% endif %}

  {% if page.collection == 'departments' %}

    {% include glance.html collection='services' field='departments' %}
    {% include glance.html collection='people' field='departments' %}

  {% elsif page.collection == 'locations' %}

    {% include glance.html collection='locations' field='location' %}
    {% include glance.html collection='spaces' field='location' %}
    {% include glance.html collection='services' field='location' %}
    {% include glance.html collection='people' field='location' %}

  {% elsif page.collection == 'spaces' %}

    {% include glance.html collection='services' field='space' %}
    {% include glance.html collection='people' field='space' %}

  {% endif %}

  {% if page.blog.rss or page.guides.rss or page.publications.rss or page.libanswers_id or page.classes or page.amenities %}
    <div class="flex-blocks is-bordered">
      {% assign page.amenities = page.amenities | remove: ' ' %}
      {% if page.amenities and page.amenities != '' %}
        <div class="block">
          {% include list.html title="Amenities" items=page.amenities %}
        </div>
      {% endif %}

      {% assign page.blog.rss = page.blog.rss | remove: ' ' %}
      {% if page.blog.rss and page.blog.rss != '' %}
        <div class="block">
          {% include feed.html feed=page.blog %}
        </div>
      {% endif %}

      {% assign page.guides.rss = page.guides.rss | remove: ' ' %}
      {% if page.guides.rss and page.guides.rss != '' %}
        <div class="block">
          {% include feed.html default_title="Research Guides" feed=page.guides %}
        </div>
      {% endif %}

      {% assign page.publications.rss = page.publications.rss | remove: ' ' %}
      {% if page.publications.rss and page.publications.rss != '' %}
        <div class="block">
          {% include feed.html default_title="Publications" feed=page.publications limit=5 %}
        </div>
      {% endif %}

      {% assign page.libanswers_id = page.libanswers_id | remove: ' ' %}
      {% if page.libanswers_id and page.libanswers_id != '' %}
        <div class="block">
          {% include faq.html title=page.faq_title id=page.libanswers_id %}
        </div>
      {% endif %}

      {% assign page.classes = page.classes | remove: ' ' %}
      {% if page.classes and page.classes != '' %}
        <div class="block">
          {% include links.html title="Classes" name="classes" %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if has_sidebar %}
    <aside class="sidebar">
      {% if page.links %}
        {% include links.html title=page.links_title %}
      {% endif %}

      {% include social.html %}
    </aside>
  {% endif %}
</div>